<div [ngClass]="containerClass">
  <h2 class="text-2xl font-bold mb-4">{{ title }}</h2>
  <ng-container *ngIf="items && items.length">
    <swiper-container class="swiper-container" #swiperRef [slidesPerView]="2.3" free-mode="true" [spaceBetween]="15"
      [loop]="true">
      <swiper-slide *ngFor="let item of items; trackBy: trackById">
        <app-movie-card [result]="item"></app-movie-card>
      </swiper-slide>
    </swiper-container>
  </ng-container>
  <ng-container *ngIf="!items || !items.length">
    <div class="flex items-center justify-center h-64 rounded-lg border-2 border-dashed border-black dark:border-white">
      <div class="text-center">
        <ion-icon name="alert-circle" class="text-5xl"></ion-icon>
        <p class="text-lg font-bold">No se encontraron elementos</p>
      </div>
    </div>
  </ng-container>
</div>