<ion-tabs (ionTabsDidChange)="onTabsChange($event.tab)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="searchtab">
      <ion-icon aria-hidden="true" name="search-sharp" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="sapienstab">
      <ion-icon aria-hidden="true" src="/assets/icons/brain.svg" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="trendingtab">
      <ion-icon aria-hidden="true" name="compass-sharp" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="userliststab">
      <ion-icon aria-hidden="true" name="bookmark-sharp" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settingstab">
      <ion-icon name="person-sharp" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>