.container {

  background-color: green;
  overflow: hidden; 
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
  
  .scroll {
    overflow: auto;
  }
  
  .card {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: red;
  }
}